<section class="montreal-theme montreal-hero">
  <div
    class="document-heading document-heading-left-notch document-heading-fullwidth bg-gray-100"
  >
    <div class="container position-relative">
      <div class="row document-heading-header">
        <div class="col-12 col-lg-7">
          <div class="pb-2">
            <h1 class="h1">{{_("Home Page Hero Title")}}</h1>
            <div class="document-heading-subtitle">
              Tellus tortor vel netus tortor. Tellus mauris nunc duis sagittis
              tellus turpis cursus nisl sit. Nulla vitae magnis nunc adipiscing
              tortor eu sagittis.
            </div>
          </div>
        </div>
        <div class="col-12">
          <form {% if form_id %}id="{{ form_id }}" {% endif %}  method="get"  action="{% url_for 'dataset.search' %}" class="bg-white p-2 mb-0">
            <div class="d-flex w-100 gap-4 align-items-end">
              <div class="d-flex gap-4 w-100">
                <div class="form-group mb-0">
                  <label for="form-control-default-one">{{_("Recherche")}}</label>
                  <div class="input-group-icon input-group-icon-left">
                    <input
                      name="q" 
                      value="{{ query }}"
                      type="text"
                      class="form-control"
                      id="form-control-searchbar"
                      placeholder=""
                    />
                    <span class="icon icon-search" aria-hidden="true"></span>
                  </div>
                </div>
                <div class="form-group mb-0">
                  <label for="form-control-default-one">{{_("Type")}}</label>
                  <select
                    class="custom-select"
                    name=""
                    id=""
                    required
                  >
                    <option value="option-1">{{_("Datasets")}}</option>
                    <option value="option-2">{{_("News")}}</option>
                    <option value="option-2">{{_("Applications")}}</option>
                  </select>
                </div>
              </div>
              <div class="ml-auto w-fit d-flex gap-1 h-fit" >
                <button type="reset" class="btn btn-link btn-squared">
                  {{_("Effacer")}}
                </button>
                <button type="submit" class="btn btn-primary btn-squared">
                  {{_("Rechercher")}}
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="row"></div>
    </div>
  </div>
</section>
