<div class="d-flex align-items-center bg-neutral-underground-1 px-5 border-bottom">
    <a href="https://montreal.ca" class="flex is-external-link link-xs go-to-montreal d-flex align-items-center" >
        montreal.ca
    </a>
    <div class="navbar-lang-switcher d-flex bg-transparent ml-auto">
      <button class=" btn btn-lang text-dark" type="button" data-toggle="dropdown" id="lang-dropdown" aria-haspopup="true" aria-expanded="false">
        {{ _('Langue') }}
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu" aria-labelledby="lang-dropdown">
        <a class="dropdown-item {% if current_lang == 'fr' %}active{% endif %}" href="/fr">{{ _('French') }}</a>
        <a class="dropdown-item {% if current_lang == 'en' %}active{% endif %}" href="/en">{{ _('English') }}</a>
      </div>
    </div>
  
  </div>