<div class=" bg-neutral-underground-1 ">
  <div class="wide-container d-flex align-items-center">
    <a href="https://montreal.ca" class="flex is-external-link link-xs go-to-montreal d-flex align-items-center" >
        montreal.ca
    </a>
    <div class="navbar-lang-switcher d-flex bg-transparent ml-auto position-relative">
      {% if current_lang == 'en' %}
        <a class="text-dark text-sm py-1" href="/fr">{{ _('Français') }}</a>
      {% endif %}

      {% if current_lang == 'fr' %}
        <a class="text-dark text-sm py-1" href="/en">{{ _('English') }}</a>
      {% endif %}
      <button class=" btn btn-lang text-dark hidden" type="button" data-toggle="dropdown" id="lang-dropdown" aria-haspopup="true" aria-expanded="false">
        {{ _('Language') }}
        <span class="caret"></span>
      </button>
      <div class="dropdown-menu" aria-labelledby="lang-dropdown">
        <a class="dropdown-item {% if current_lang == 'fr' %}active{% endif %}" href="/fr">{{ _('French') }}</a>
        <a class="dropdown-item {% if current_lang == 'en' %}active{% endif %}" href="/en">{{ _('English') }}</a>
      </div>

    </div>
    </div>
  </div>